@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Home Page";
    Layout = ViewBag.Layout;
}

<div class="container">
    <div class="row">
        <h1 class="col-md-8">Employee List</h1>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <a type="submit" class="btn btn-primary col-md-4" asp-controller="Employee" asp-action="Create">Create</a>
        </div>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Birth Date</th>
                <th>Position</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                @Html.DisplayFor(modelItem => employee, "EmployeeItemList")
            }
        </tbody>
    </table>
</div>